@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

* {
    list-style: none;
    text-decoration: none !important;
    font-family: int;
}

.header-center-section {
    border-bottom: 1px solid rgba(52, 168, 83, 0.06);
    background: rgba(52, 168, 83, 0.06);
    cursor: pointer;
}

.hero {
    background: url(https://quomodosoft.com/html/ecoshop/assets/images/homepage-one/hero-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section {
    padding: 70px;
}

.subtitle {
    font-size: 30px;
    color: #34a853;
    font-family: "Inter", sans-serif;
}

.title {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    color: #1d1d1d;
    font-size: 76px;
}

.shop-btn {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
}

.hero-service {
    background-color: #34a853;
    padding: 30px;
    margin-block-start: 30px;
}

.service-subtitle {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.service-title {
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.products-title h3 {
    font-family: "League Spartan", sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.product-wrapper {
    width: 300px;
    height: 400px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #ffffff;
    overflow: hidden;
}

.product-wrapper:hover{
    border: 1px solid #34a853;
}

.product-info h3 {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.product-info span {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.products {
    padding: 20px;
}

.cart-btn {
    border: none;
    background: none;
    font-size: 20px;
}

.user-btn {
    border: none;
    background: none;
    font-size: 25px;
}

.breadcrumb-item a {
    color: black;
}

.cart-title {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.quantity {
   width: 100px;
   height: 35px;
   border: 1px solid rgba(52, 168, 83, 0.15) !important;
   border-radius: 5px;
}

.height-60 {
    height: 60px;
}

.height-100 {
    height: 100%;
}

.product-image {
    width: 80px;
    height: 80px;
}

.product-image img {
    height: 100%;
    object-fit: contain;
}

.shop-title {
    background: rgba(52, 168, 83, 0.06);
    padding: 15px;
}

.card-header {
    background: rgba(52, 168, 83, 0.06);
    ;
}

.menu-list ul li {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.menu-btn {
    background: none;
    border: none;
}

.menu-btn:hover {
    background: none;
    border: 1px solid black;
}

.menu-btn:focus-visible {
    background: none;
    box-shadow: none;
}

.close-btn{
    width: 40px;
    height: 40px;
    background-color: #34a853;
    cursor: pointer;
}

.add-btn{
    background-color: rgba(52, 168, 83, 0.2);
    color: #34a853;
    border: none;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.4s;
}

.add-btn:hover{
    background-color: #34a853;
    color: white;
}

.responsive-header{
    background-color: rgba(52, 168, 83, 0.06);
}
