@media (max-width:400px) {
    .w-400{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .form-design {
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
}